* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
 
  display: flex;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #320b66, #121214);

  text-align: center;
  color: #afacac;
}

h1 {
  text-align: center;
  color: #3CB9FC;
  animation: animate 1.5s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

#audio {
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: circle();

  background: #9445c9;
}

#audio:hover {
  transform: scale(1.10, 1.10)
}

#audio img {
  max-width: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin: 2rem 0 1rem;

}

#scoreboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

#score {
  color:#148106;
}

#speed {
  color: #085a86;
}

#gameCanva p {
  display: none;
}

canvas {
  width: 20rem;
  height: 30rem;
  border: 20px solid gray;
}

#movePiece {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

#movePiece button {
  padding: 0.7rem;
  border-radius: 0.4rem;
  border-style: solid;
  cursor: pointer;
}

#movePiece #buttonCenter button {
  display: flex;
}

#movePiece #buttonCenter button:nth-child(2) {
  margin-top: 1rem;
}

@media (min-width: 414px) {
  canvas {
    width: 22rem;
    height: 33rem;
  }
}

@media (min-width: 920px) {
  #gameCanva p {
    display: block;
  }

  canvas {
    width: 24rem;
    height: 38rem;
  }
}