* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
 
  display: flex;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #320b66, #121214);

  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  color: #3CB9FC;
  animation: animate 1.5s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

#audio {
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: circle();

  background: #9445c9;
}

#audio:hover {
  transform: scale(1.10, 1.10)
}

#audio img {
  max-width: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin: 1rem 0 .5rem;
}

#scoreboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.score {
  color:#148106;
}

.speed {
  color: #085a86;
}

#gameCanva p {
  display: none;
}

canvas {
  width: 16rem;
  height: 25.5rem;
  border: 20px solid darkgrey;
}

#movePiece {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

#movePiece button {
  padding: 0.7rem;
  border-radius: 0.4rem;
  border-style: solid;
  cursor: pointer;
}

#movePiece #buttonCenter button {
  display: flex;
}

#movePiece #buttonCenter button:nth-child(2) {
  margin-top: 1rem;
}

button img {
  max-width: 1rem;
}

#modal {
  width: 16.4rem;
  height: 26rem;
  padding: 1.5rem;
  top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  
  background: #320b66;
  border: 3px double #67159c;
  color: white;
  border-radius: .5rem;

  text-align: center;
  font-weight: bold;

  transition: transform 1s;
  transform: scale(.5);

  visibility: hidden;
}

#modal button {
  padding: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;

  background: #2c86b6;
  color: white;
}

#modal.active {
  transform: scale(1);
  visibility: visible;
}

@media (min-width: 414px) {
  canvas {
    width: 22rem;
    height: 33rem;
  }
}

@media (min-width: 920px) {
  #gameCanva p {
    display: block;
  }

  canvas {
    width: 24rem;
    height: 38rem;
  }
}